.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
}

.App-header {
  background-color: #262626;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.arrow {
  height: 3vmin;
}

body {
  font-family: Haas Grot Text R,sans-serif !important;
}

.lead-in {
  font-size: 0.85em;
}

.faq {
  margin: 0px 22% 0px 22%;
}

.faq p {
  text-align: left;
}

.App-footer {
  background-color: #262626;
  min-height: 10vh;
  margin-top: 5%;
}

.App-logo-footer {
  max-height: 5vh;
  margin: 1% 0% 1% 0%;
}